@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-Light-Gray);
  padding: 1.5rem;
}

.heading {
  max-width: 38rem;
  text-align: center;
  line-height: 3.5rem;
  margin: 3rem auto;
}
.main_heading {
  font-size: 3rem;
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.powered {
  color: var(--Very-Dark-Blue);
  font-size: 3rem;
  font-weight: 400;
}

.main_paragraph {
  font-weight: 200;
  margin-top: 1.5rem;
  color: var(--Grayish-Blue);
  text-align: center;
  line-height: normal;
}
.cards_section {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.card_flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card {
  text-align: left;
  padding: 1.5rem 0 0 1.5rem;
  width: 20rem;
  height: 13rem;
  border-radius: 5px;
  background-color: #fff;
}

.card_heading {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
  margin-bottom: 0.5rem;
}

.card_text {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.card img {
  width: 3rem;
  margin: 2.5rem 1rem 1rem 13.8rem;
}

.card-supervisor {
  box-shadow: 0 1rem 2rem 0.5rem #dedede;
  border-top: 0.25rem solid var(--Cyan);
}

.card-team-builder {
  box-shadow: 0 1rem 2rem 0.5rem #dedede;
  border-top: 0.25rem solid var(--Red);
}
.card-karma {
  box-shadow: 0 1rem 2rem 0.5rem #dedede;
  border-top: 0.25rem solid var(--Orange);
}
.card-calculator {
  box-shadow: 0 1rem 2rem 0.5rem #dedede;
  border-top: 0.25rem solid var(--Blue);
}

.attribution {
  margin-top: 1.5rem;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 820px) {
  .cards_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
} */
